.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #BEDBB0);
    font-family: "Poppins", sans-serif;

}

.nav{
    padding-bottom: 40px;
}

.box{
    background-color: var(--black);
  padding: 20px;
  border-radius: 10px;
  width: 335px;

}
@media screen and (min-width: 768px) {
    .box {
        width: 424px;
        padding: 40px;
    }
  }
.navList{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.navList a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    
}

.navList .active{
    color: rgb(255, 255, 255);
}
