.taskColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--add-column-bg); 
    border-radius: 8px;
    padding: 20px 18px;
    color: var(--modal-text);
    max-width: 320px;
    margin-bottom: 14px;
}

.columnName {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--modal-text);
}

.icons {
    display: flex;
    gap: 8px;
}

.iconButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    fill: none;
    stroke: var(--board-icons);
}

.icon:hover,
.icon:focus {
    filter: drop-shadow(0 0 5.5px var(--sb-shadows-hover));
    stroke: var(--sb-shadows-hover);
}

@media screen and (min-width: 768px) {
    .taskColumn {
      max-width: 335px;
    }
  }