.container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.sideB {
  flex-shrink: 0;
}

.mainCont {
  background-color: aqua;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .sideB {
    width: 260px;
  }
}
