.card {
    width: 334px;
    /* height: 154px; */
    background-color: #121212;
    padding: 18px 18px 14px 21px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 14px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fff;
    margin: 0;
    margin-bottom: 8px;
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 133%;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    margin-bottom: 19px;
    color: rgba(255, 255, 255, 0.5);
}

.decor {
    margin-bottom: 14px;
    background: rgba(255, 255, 255, 0.1);
    height: 0.5px;
    border: none;
}

.border {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 10px 0 0 10px;
    background: aqua;
}

.kolo {
    background-color: aqua;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.p {
    font-weight: 400;
    font-size: 8px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-bottom: 4px;
    padding-top: 2px;
}

.container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.info {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    color: #fff;
    margin: 0;
}

.details {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    gap: 14px;
}

.icon {
    fill: none;
    stroke: rgba(255, 255, 255, 0.5);
}

.icons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btns {
    gap: 8px;
    display: flex;
}

.bell {
    fill: none;
    stroke: #bedbb0;
    filter: drop-shadow(0 0 5px #bedbb0);
}

.editModalBtn {
    position: fixed;
    background: #121212;
    border: none;
    padding: 0;
}