.icon {
  position: absolute;
  top: 14px;
  right: 14px;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  border-radius: 8px;
  padding: 20px;
  width: 335px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.form {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.input {
  margin-bottom: 14px;
}
.input,
.inputText {
  padding: 14px 18px;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background-color: #121212;
  color: inherit;
  border: 1px solid #bedbb0;
  outline: none;
  opacity: 0.4;
}

.input:hover,
.input:focus,
.inputText:hover,
.inputText:focus {
  opacity: 1;
}

.input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
}

.inputText {
  margin-bottom: 24px;
  width: 287px;
  height: 120px;
  resize: none;
}

.inputText::placeholder {
  text-align: start;
}

.errorMessage {
  color: orange;
  font-size: 8px;
  margin-top: 8px;
}
.button {
  padding: 8px 16px;
  background-color: rgba(190, 219, 176, 1);
  color: rgba(22, 22, 22, 1);
  border: none;
  width: 287px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #9dc888;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 350px;
  }
}
