.icon {
  position: absolute;
  stroke: var(--modal-text);
  top: 14px;
  right: 14px;
  background: none;
  cursor: pointer;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-bg);
  border-radius: 8px;
  padding: 24px;
  width: 335px;
  border: 1px solid var(--modal-border);
}
.form {
  width: 100%;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--modal-text);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.input {
  margin-bottom: 14px;
}
.input,
.inputText {
  padding: 14px 18px;
  border-radius: 8px;
  /* width: 287px; */
  width: 100%;
  height: 49px;
  background-color: var(--modal-input);
  color: var(--modal-text);
  border: 1px solid var(--modal-border);
  outline: none;
  opacity: 0.4;
}

.input:hover,
.input:focus,
.inputText:hover,
.inputText:focus {
  opacity: 1;
}

.input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
}

.inputText {
  /* margin-bottom: 24px; */
  /* width: 287px; */
  height: 120px;
  resize: none;
}

.inputText::placeholder {
  text-align: start;
}

/* .errorMessage {
  color: red;
  font-size: 8px;
  margin-top: 8px;
} */

.formGroup {
  position: relative;
}

.errorMessage {
  color: red;
  font-size: 12px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.errorMessage2 {
  composes: errorMessage;
  bottom: initial;
}
.button {
  padding: 8px 16px;
  background-color: var(--btn-color);
  color: var(--plus-btn);
  border: none;
  /* width: 287px; */
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 24px;
}

.button:hover,
.button:focus {
  background-color: #9dc888;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 400px;
  }
}
