.title {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: -0.015em;
  font-weight: 400;
}

.list {
  margin-top: 0;
}
.liItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
}
