.icon {
  fill: none;
  cursor: pointer;
  stroke: var(--sb-icons);
}

.icon:hover,
.icon:focus {
  filter: drop-shadow(0 0 5.5px var(--sb-shadows-hover));
  stroke: var(--sb-shadows-hover);
}

.titleWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--sb-icons);
}

.titleWrapper + .link,
.linkWrapper:hover .titleWrapper,
.linkWrapper:focus .titleWrapper {
  color: var(--sb-icons-hover);
}

.titleIcon {
  fill: none;
  stroke: var(--sb-icons);
  transition: fill 0.3s;
}

.link.activeLink .titleIcon,
.link.activeLink .title,
.linkWrapper:hover .titleIcon,
.linkWrapper:focus .titleIcon {
  fill: none;
  stroke: var(--sb-icons-hover);
  color: var(--text-color);
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.btn {
  background: transparent;
  border: none;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 22px 14px;
  text-decoration: inherit;
  position: relative;
}

.activeLink {
  color: inherit;
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4px;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--border-active);
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -14px;
  margin-right: -14px;
  position: relative;
}

.btns {
  position: absolute;
  top: 23px;
  right: 18px;
}

.linkWrapper .activeLink,
.linkWrapper:hover,
.linkWrapper:focus {
  background-color: var(--board-active);
}

@media screen and (min-width: 768px) {
  .titleWrapper {
    gap: 8px;
  }

  .linkWrapper {
    margin-left: -24px;
    margin-right: -24px;
  }

  .link {
    padding: 22px 24px;
  }

  .btns {
    right: 24px;
  }
}
