.editCardModalRadioContainer {
    display: flex;
    gap: 8px;
    width: 80px;
    margin-top: 5px;
}

.editCardModalRadioContainerRadio {
    height: 14px;
    width: 14px;
    margin: 0;
}

/* input[type=radio] {
    --s: 14px;     
    --c: #009688; 
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
    margin: 0;
  } */

  input[type=radio] {
    --s: 14px;     /* control the size */
    --c: #009688; /* the active color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: 2px solid #939393;
    padding: 1px;
    background: 
       radial-gradient(farthest-side, var(--c) 100%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }

  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
  @media print {
    input[type=radio] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: none;
    }
  }

/* .editCardModalRadio1 {
    color: #8FA1D0;
    border: 2px solid #8FA1D0;
    background: 
     radial-gradient(farthest-side,var(--c) 94%,#8FA1D0) 
     50%/0 0 no-repeat content-box;
}

.editCardModalRadio2 {
    color: #E09CB5;
    border: 2px solid #E09CB5;
    background: 
     radial-gradient(farthest-side,var(--c) 94%,#E09CB5) 
     50%/0 0 no-repeat content-box;
}

.editCardModalRadio3 {
    color: #BEDBB0;
    border: 2px solid #BEDBB0;
    background: 
     radial-gradient(farthest-side,var(--c) 94%,#BEDBB0) 
     50%/0 0 no-repeat content-box;
}

.editCardModalRadio4 {
    color: #FFFFFF4D;
    border: 2px solid #FFFFFF4D;
    background: 
     radial-gradient(farthest-side,var(--c) 94%,#FFFFFF4D) 
     50%/0 0 no-repeat content-box;
}

.editCardModalRadio1:checked {
    border-color: #8FA1D0;
    background-size: 100% 100%;
}

.editCardModalRadio2:checked {
    border-color: #E09CB5;
    background-size: 100% 100%;
}

.editCardModalRadio3:checked {
    border-color: #BEDBB0;
    background-size: 100% 100%;
}

.editCardModalRadio4:checked {
    border-color: #FFFFFF4D;
    background-size: 100% 100%;
} */

/* .editCardModalRadio1,
.editCardModalRadio2,
.editCardModalRadio3,
.editCardModalRadio4 {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.editCardModalRadio1 + label::before,
.editCardModalRadio2 + label::before,
.editCardModalRadio3 + label::before,
.editCardModalRadio4 + label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000000; 
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.editCardModalRadio1 + label::before {
    background-color: #8FA1D0;
}

.editCardModalRadio2 + label::before {
    background-color: #E09CB5;
}

.editCardModalRadio3 + label::before {
    background-color: #BEDBB0;
}

.editCardModalRadio4 + label::before {
    background-color: #FFFFFF4D;
}

.editCardModalRadio1:focus + label::before {
    border: 2px solid #8FA1D0;
    padding: 2px;
}
.editCardModalRadio2:focus + label::before {
    border: 2px solid #E09CB5;
    padding: 2px;
}
.editCardModalRadio3:focus + label::before {
    border: 2px solid #BEDBB0;
    padding: 2px;
}
.editCardModalRadio4:focus + label::before {
    border: 2px solid #FFFFFF4D;
    padding: 2px;
} */
 
.editCardModalCloseBtn {
    position: fixed;
    top: 14px;
    right: 14px;
    background-color: #000000;
    border: none;
    padding: 0;
}

.editCardModalIcon {
    fill: none;
    cursor: pointer;
    stroke: rgba(255, 255, 255, 1);
}

.editCardModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 522px;
    background: #000000;
    border: 1px solid #bedbb080;
    border-radius: 20px;
}

.editCardModalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.419);
    display: flex;
    justify-content: center;
    align-items: center;
}

.editCardModalContainer {
    margin: 24px;
}

.editCardModalText {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 24px;
}

.editCardModalForm {
    display: flex;
    flex-direction: column;
}

.editCardModalInput1 {
    background: #1F1F1F;
    border: 1px solid #BEDBB0;
    width: 287px;
    height: 49px;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 24px;
    outline: none;
    opacity: 40%;
    color: #fff;
}

.editCardModalInput2 {
    background: #1F1F1F;
    border: 1px solid #BEDBB0;
    width: 287px;
    height: 154px;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 24px;
    outline: none;
    opacity: 40%;
    color: #fff;
    resize: none;
    box-sizing: border-box;
    vertical-align: top;
    word-wrap: break-word;
}

.editCardModalInput1:hover,
.editCardModalInput1:focus,
.editCardModalInput2:hover,
.editCardModalInput2:focus {
    opacity: 100%;
}

.editCardModalLabel {
    margin-bottom: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF80;
}

.editCardModalSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #bedbb0;
    color: rgba(22, 22, 22, 1);
    border: none;
    width: 287px;
    height: 49px;
    border-radius: 8px;
    cursor: pointer;
}

.editCardModalSpan {
    width: 28px;
    height: 28px;
    background-color: #121212;
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.editCardModalAddIcon {
    stroke: white;
}