.react-datepicker__month-container {
  padding: 18px;
  background-color: var(--calendar-bg);
  border-radius: 10px;
  border: 1px solid var(--modal-border);
}

.react-datepicker__header {
  border: none;
  background-color: transparent;
}

h2.react-datepicker__current-month {
  margin: 0 auto;
  width: 197px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border-bottom: 1px solid var(--calendar-day);
  color: var(--modal-text);
}

.react-datepicker__navigation {
  top: 18px;
}

.react-datepicker__day-name {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--filter-sa);
}


.react-datepicker__day {
  gap: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  width: 23px;
  height: 23px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--btn-inactive);
}

.react-datepicker__day:hover,
.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: var(--calendar-hover-box);
  color: var(--calendar-hover-text);
}

.react-datepicker__day--disabled {
  color: var(--btn-inactive);
}
.react-datepicker__day--disabled:hover {
  background-color: var(--btn-color);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 50%;
  background-color: #bedbb0;
  color: #000000;
}

.react-datepicker__week {
  display: flex;
  gap: 4px;
}

.react-datepicker__day--outside-month {
  color: var(--calendar-day);
}
