.openModalBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: var(--add-column-bg);
  width: 320px;
  height: 56px;
  
}

.openModalBtn:hover, .openModalBtn:focus{
  background-color: var(--btn-hover2);
}

.iconBox {
  width: 28px;
  height: 28px;
  background: var(--icon-box);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-text);
  width: 141px;
}

.icon {
  stroke: var(--add-plus);
}

@media screen and (min-width: 768px) {
  .openModalBtn {
    width: 335px;
  }
}
