.openModalBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: #121212;
  min-width: 334px;
  height: 56px;
}

.iconBox {
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  width: 141px;
}

.icon {
  stroke: #121212;
}