.icon {
  stroke: var(--plus-btn);
}

.container {
  margin-bottom: 40px;
  width: 197px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
}

.text {
  width: 76px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.button {
  padding: 8px 10px;
  background-color: var(--btn-color);
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--btn-hover);
}

@media screen and (min-width: 768px) {
  .container {
    width: 212px;
  }
}
