.icon {
  stroke: #121212;
}

.container {
  margin-bottom: 40px;
  width: 197px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.text {
  width: 76px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.button {
  padding: 8px 10px;
  background-color: rgba(190, 219, 176, 1);
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  background: #9dc888;
}

@media screen and (min-width: 768px) {
  .container {
    width: 212px;
  }
}
