.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: var(--add-card-btn);
  color: var(--b-text);
  width: 320px;
  height: 56px;
  }

  .btn:hover,
  .btn:focus {
    background-color: var(--btn-hover); 
  }

.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--b-text); 
    border-radius: 6px;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    font-size: 16px;
  }

.icon{
    stroke: var(--b-plus);
  }
  @media screen and (min-width: 768px) {
    .btn {
      width: 335px;
    }
  }
  