.container {
    min-height: 95vh;
    background-size: cover;
    background-position: center;
  }


  .wrapper{
    padding: 16px 20px;
    display: flex;
    gap: 10px;
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      padding-left: 16px 32px;
     
    }
  }