.container {
  padding-top: 14px;
  background-color: var(--st-bg);
}

@media screen and (min-width: 768px) {
    .container {
      padding-top: 26px;
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
    padding-top: 10px;
    }
  }