.container {
  min-width: 320px;
  max-width: 375px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 100;
}

.cont {
  background-color: #161616;
  max-width: 335px;
  max-height: 440px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  box-shadow: 0 4px 16px hsla(0, 0%, 7%, 0.1);
  padding: 24px;
  margin: 0 auto;
}

.wrap {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.closeBtn {
  width: 18px;
  height: 18px;
}

.txt {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.avatarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin-top: 24px;
}

.closeBtn {
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.plusBtn {
  border: none;
  background-color: #bedbb0;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 60px;
  cursor: pointer;
}

.formInput {
  padding: 14px 18px;
  width: 100%;
  height: 49px;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background-color: inherit;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  box-shadow: none;
  position: relative;
}

.formInput:focus {
  border: 2px solid #bedbb0;
}

.formGroup {
  position: relative;
}

.error {
  height: 0px;
  color: red;
  font-size: 12px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 32px;
}

.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  align-items: center;
  background-color: #bedbb0;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  gap: 8px;
  line-height: 21px;
  padding-bottom: 11px;
  padding-top: 10px;
  width: 100%;
  margin-top: 14px;
}

.eye {
  background-color: transparent;
  border: none;
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.avatarBig {
  width: 68px;
  height: 68px;
}

.avatar {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  background-image: url(/src/img/deftAvBlack.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 375px) {
  .wrap {
    right: 34px;
  }
}

@media screen and (min-width: 768px) {
  .cont {
    position: fixed;
    right: 20px;
    /* top: 60px; */
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 440px;
    width: 400px;
  }
  .container {
    max-width: 768px;
  }

  .wrap {
    right: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
  .avatarContainer {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1180px) {
  .wrap {
    right: 14px;
  }
  .cont {
    top: 60px;
  }
}
