.icon {
  fill: none;
  stroke: var(--hb-icon);
  cursor: pointer;
}

.container {
  width: 105px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.container:hover .icon,
.container:focus .icon {
  stroke: var(--btn-hover);
}
