.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 375px) {
  .dashboardName {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 10px;
  }
}

.dashboardName {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--btn-inactive);
}

.filterBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  fill: none;
  stroke: var(--btn-inactive);
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--btn-inactive);
}
