.link {
    color: #bedbb0;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .text {
        font-size: 12px;
        line-height: 133%;
    }
}


.text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    width: 486px;
}

.container {
    margin: 0;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}