/**
  |============================
  | VARIABLES
  |============================
*/
:root {
  /* colors */
  --black: #121212;
  --white: #fff;
  --green: #bedbb0;
  --blue: #8fa1d0;
  --red: #e09cb5;
  --violet: #5255bc;
  --color: #121212;

  /* others */
  --indent: 20px;
  --items: 2;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}
/**
  |============================
  | FONTS
  |============================
*/

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

/* Phone screen */
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop screens */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
h3,
p {
  margin: 0;
}