/**
  |============================
  | VARIABLES
  |============================
*/
:root {
  /* colors */
  --black: #121212;
  --white: #fff;
  --green: #bedbb0;
  --blue: #8fa1d0;
  --red: #e09cb5;
  --violet: #5255bc;
  --color: #121212;

  /* others */
  --indent: 20px;
  --items: 2;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.light-theme {
  --body-bg: var(--white);
  --text-color: #121212;
  --background-color: #f4f4f4;
  --btn-color: #bedbb0;
  --btn-hover: #9dc888;
  --line: rgba(22, 22, 22, 0.5);
  --icons: rgba(22, 22, 22, 0.5);
  --icons-hover: rgba(22, 22, 22, 1);

  /* modals */
  --modal-bg: #fff;
  --modal-input: var(--white);
  --modal-text: var(--black);
  --modal-plus: var(--white);
  --plus-btn: var(--black);
  --modal-border: var(--green);

  /* Sidebar */
  --logo-icon-box: #1F1F1F;
  --logo-icon: var(--white);
  --board-active: #f6f6f7;
  --border-active: var(--green);
  --sb-icons: rgba(22, 22, 22, 0.5);
  --sb-icons-hover: rgba(22, 22, 22, 1);
  --sb-shadows-hover: #7fb664;
  --hb-cont: #f6f6f7;
  --hb-link: var(--green);
  --hb-icon: #161616;

  /* Header */
  --header-bg: #ececec;
  --burger: var(--black);
  --header-tx: rgba(22, 22, 22, 0.8);
  --btn-inactive: var(--black);
  --btn-active: var(--green);
  --add-img: var(--green);
  --header-btn: var(--green);
  --header-avatar: url(https://res.cloudinary.com/dqwyuuuzd/image/upload/v1718470207/p8idpbdlblbi3p16ubzp.jpg);
  --filter-line: rgba(22, 22, 22, 0.1);
  --filter-sa: rgba(22, 22, 22, 0.5);

  /* Board */
  --board-bg: #fcfcfc;
  --add-column-bg: var(--white);
  --icon-box: var(--black);
  --add-plus: var(--white);
  --board-icons: rgba(22, 22, 22, 0.5);
  --add-card-btn: var(--green);
  --b-text: var(--black);
  --b-plus: var(--white);
  --task-text: rgba(22, 22, 22, 0.7);


  --st-bg:#F6F6F7;

  /* Scroll */
  --scroll-track-bg: #e8e8e8;
  --scroll-thumb-bg: rgba(22, 22, 22, 0.1);

  --pop-up-bg:#FCFCFC;
  --pop-up-tx:rgba(225, 225, 225, 0.5);
  --pop-up-tx-hover:var(--green);
}

.violet-theme {
  --body-bg: var(--violet);
  --text-color: var(--white);
  --background-color: var(--violet);
  --btn-color: #b8bcfd;
  --btn-hover: #9da2fa;
  --line: rgba(255, 255, 255, 0.5);
  --icons: rgba(22, 22, 22, 0.5);
  --icons-hover: rgba(22, 22, 22, 1);

  /* modals */
  --modal-bg: var(--white);
  --modal-input: var(--white);
  --modal-text: var(--black);
  --modal-plus: var(--black);
  --plus-btn: var(--white);
  --modal-border: var(--violet);

  /* Sidebar */
  --logo-icon-box: #ECEDFD;
  --logo-icon: var(--violet);
  --board-active: rgba(255, 255, 255, 0.3);
  --border-active: var(--white);
  --sb-icons: rgba(255, 255, 255, 0.5);
  --sb-icons-hover: rgba(255, 255, 255, 1);
  --sb-shadows-hover: var(--violet);
  --hb-cont: rgba(236, 237, 253, 0.4);
  --hb-link: var(--violet);
  --hb-icon: var(--white);

  /* Header */
  --header-bg: #ffffff;
  --burger: var(--black);
  --header-tx: rgba(22, 22, 22, 0.8);
  --btn-inactive: var(--black);
  --btn-active: var(--violet);
  --add-img: #ecedfd;
  --header-btn: var(--violet);
  --header-avatar: url(https://res.cloudinary.com/dqwyuuuzd/image/upload/v1718616860/user_uw4dwo.png);
  --filter-line: rgba(22, 22, 22, 0.1);
  --filter-sa: rgba(22, 22, 22, 0.5);

  /* Board */
  --board-bg: #ecedfd;
  --add-column-bg: var(--white);
  --icon-box: var(--violet);
  --add-plus: var(--white);
  --board-icons: rgba(22, 22, 22, 0.5);
  --add-card-btn: var(--violet);
  --b-text: var(--white);
  --b-plus: var(--black);
  --task-text: rgba(22, 22, 22, 0.7);


  --st-bg:#ECEDFD;

  /* Scroll */
  --scroll-track-bg: #fff;
  --scroll-thumb-bg: #b8bcfd;

  --pop-up-bg:#FCFCFC;
  --pop-up-tx:rgba(225, 225, 225, 0.5);
  --pop-up-tx-hover:var(--violet);
}

.dark-theme {
  --body-bg: var(--black);
  --text-color: var(--white);
  --background-color: #333333;
  --btn-color: #bedbb0;
  --btn-hover: #9dc888;
  --line: rgba(255, 255, 255, 0.5);
  --icons: rgba(255, 255, 255, 0.5);
  --icons-hover: rgba(255, 255, 255, 1);

  /* modals */
  --modal-bg: #121212;
  --modal-input: var(--black);
  --modal-text: var(--white);
  --modal-plus: var(--white);
  --plus-btn: var(--black);
  --modal-border: var(--green);

  /* Sidebar */
  --logo-icon-box: #1F1F1F;
  --logo-icon: var(--white);
  --board-active: #1f1f1f;
  --border-active: var(--green);
  --sb-icons: rgba(255, 255, 255, 0.5);
  --sb-icons-hover: rgba(255, 255, 255, 1);
  --sb-shadows-hover: var(--green);
  --hb-cont: #1f1f1f;
  --hb-link: var(--green);
  --hb-icon: var(--white);

  /* Header */
  --header-bg: #161616;
  --burger: var(--white);
  --header-tx: rgba(255, 255, 255, 0.8);
  --btn-inactive: var(--white);
  --btn-active: var(--green);
  --add-img: var(--green);
  --header-btn: var(--green);
  --header-avatar: url(https://res.cloudinary.com/dqwyuuuzd/image/upload/v1718235453/pojpj365oqqbots9321l.png);
  --filter-line: rgba(255, 255, 255, 0.1);
  --filter-sa: rgba(255, 255, 255, 0.5);

  /* Board */
  --board-bg: #121212;
  --add-column-bg: var(--black);
  --icon-box: var(--white);
  --add-plus: var(--black);
  --board-icons: rgba(255, 255, 255, 0.5);
  --add-card-btn: var(--green);
  --b-text: var(--black);
  --b-plus: var(--white);
  --task-text: rgba(255, 255, 255, 0.5);


  --st-bg:#1F1F1F;

  /* Scroll */
  --scroll-track-bg: rgba(255, 255, 255, 0.08);
  --scroll-thumb-bg: #121212;

  --pop-up-bg:#1F1F1F;
  --pop-up-tx:rgba(22, 22, 22, 1);
  --pop-up-tx-hover:var(--green);
}

html {
  scroll-behavior: smooth;
}
/**
  |============================
  | FONTS
  |============================
*/

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

/* Phone screen */
.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop screens */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}
