.container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.sideB {
  width: 225px;
}

.sideBfixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 225px;
  z-index: 12;
}

.mainCont {
  max-width: calc(100% - 225px);
  position: relative;
}

.screen {
  flex-shrink: 0;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

@media screen and (min-width: 768px) {
  .mainCont {
    max-width: calc(100% - 260px);
  }
}
@media screen and (min-width: 1440px) {
  .sideB,
  .sideBfixed {
    width: 260px;
  }
}
