.taskList {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 348px);
  padding-right: 4px;
  width: 347px;
  margin-bottom: 14px;
}

.taskList::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

.taskList::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}

.taskList::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 12px;
}

.taskList::-webkit-scrollbar-thumb:hover {
  background-color: #121212;
}

.taskItem:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .taskList {
    max-height: calc(100vh - 384px);
    padding-right: 8px;
    width: 351px;
  }
}

@media screen and (min-width: 1440px) {
  .taskList {
    max-height: calc(100vh - 292px);
  }
}
