.taskList {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  max-height: calc(100vh - 348px);
  padding-right: 4px;
  width: 347px;
  margin-bottom: 14px;
  height: 100vh
  
}

.taskList::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  
}

.taskList::-webkit-scrollbar-track {
  background: var(--scroll-track-bg);
  border-radius: 12px;
}

.taskList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
  border-radius: 12px;
}

.taskItem:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .taskList {
    max-height: calc(100vh - 384px);
    padding-right: 8px;
    width: 351px;
  }
}

@media screen and (min-width: 1440px) {
  .taskList {
    max-height: calc(100vh - 300px);
  }
}
